.vertical-center-1 > .button {
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.vertical-center-1 > .button > a {
    text-decoration: none;
    color: inherit;
}

.vertical-center-1 > .button:hover {
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(247, 60, 60);
    color: #fff;
}

.banner {
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}


.banner .vertical-center-1 {
  margin: 0;
  position: absolute;
  top: 42%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-footer {
    margin-top: -20px;
}