#browse {
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 40px;
    font-weight: bold;
}
#stores .container .store-container .store-card{
  width:28%;
  display: inline-block;
  padding: 1.8rem;
  opacity: 1;
  text-align: center;
}
.wrapper {
    font-family: "Amazon Ember",Arial,sans-serif;
    padding-top: 25px;
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-line-1 {
    display: inline-block;
    font-size: 25px;
}
.horizontal-line-1 > a {
  color:blue;
}

.store-container {
    font-family: "Amazon Ember",Arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
.store-card {
    flex: 1 1 21%;
    max-width: 605px;
    background: #fff;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 2px 0 #ccc;
    transition: 0.3s;
    padding-bottom: 30px;
  }
  
.store-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
  }
  
.store-icon {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
  
.store-name {
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0 10px 0;
    text-align: center;
  }
  
.store-description {
    font-size: 14px;
    color: #777;
    text-align: center;
  }

@media only screen and (max-width: 1024px) {
	#stores .container .store-container .store-card {
		width: 50%;
	}
  .wrapper .drop-down-bar select{
    height:35px;
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
	#stores .container .store-container .store-card {
		width: 50%;
	}
  .wrapper .drop-down-bar select{
    height:35px;
    width: 30%;
  }
  #browse{
    font-size: 30px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
	#stores .container .store-container .store-card {
		width: 100%;
	}
  .wrapper .horizontal-line-1{
    height:35px;
    width: 15%;
  }
  #browse{
    font-size: 20px;
    font-weight: bold;
  }
  .wrapper .horizontal-line-1 a{
    font-size: 12px;
  }
}