.order-placement-table {
    display: grid;
    grid-template-columns: 15% 40% 20% 25%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Amazon Ember", Arial, sans-serif;
    align-items: center;
}

.order-placement-table .heading {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: bold;
    border-bottom: 3px solid #ff523b;;
    margin-bottom: 10px
}

.order-placement-table .product-img-cont {
    width: 100%;
    display: flex;
}

.order-placement-table .product-img-cont .product-img {
    max-width: 80%;
    margin: auto
}

.order-placement-table .product-name {
    text-align: center;
    font-family: inherit;
    font-size: 16px;
}

.order-placement-table .quantity {
    text-align: center;
}

.order-placement-table .quantity .quantity-buying {
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 15px;
    text-align: center;
    width: 50px;
}

.order-placement-table .price {
    text-align: center
}

.total-price {
  display: flex;
  justify-content: flex-end;
  margin-right:220px;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.note .note-checkout{
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: bold;
    margin-top:15px;
}
.note .note-checkout label{
    margin-bottom: 5px;
    max-width: 100%;
    display: block;
}

.note .note-checkout textarea {
    font-family:inherit;
    resize: none;
    border-radius: 4px;
    height: 70px;
    border-color: #DDD7D7;
    margin-top: 3px;
    max-width: 100%;
    padding: 5px;
    overflow: auto;
}

.button-cont {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%
}

.button-cont .submit-button {
    width: 200px;
    height: 30px;
    margin:30px;
    text-transform: uppercase;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 12px;
    line-height: 30px;
    padding: 0 14px;
    background-color: #fff;
    color: #000;
}

.button-cont .submit-button:hover {
    background-color: #748dff;
    cursor: pointer;
    color: #fff
}
@media only screen and (max-width:767px){
    .order-placement-table .heading{
        font-size:10px;
    }
    .button-cont{
        padding:2rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .order-placement-table .heading{
        font-size:10px;
    }
    .button-cont{
        padding:2rem;
    }
}