.product-container {
    max-width: 1000px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid rgba(241, 16, 16, 0.8); 
    border-top: 4px solid rgba(241, 16, 16, 0.8);
    margin: 0 auto;
}

.product-header-sub {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(241, 16, 16, 0.8);
    margin: 0 auto;
}

.product-header-sub p {
    font-size: 16px;
}


.product-title {
    width: 29%;
    margin-left: 20px;
    text-align: center;
}

.price {
    width: 24%;
    text-align: center;
}


.quantity {
    width: 24%;
    text-align: center;
}

.total {
    width: 12%;
    text-align: center;
}

footer {
    margin-top: 25px;
}

#submit-buttons {
    width: 60%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding-bottom: 0px;;
}

.button-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 120px;
}

.button-container .continue-button {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.button-container .order-button {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.button-container .continue-button, .button-container .order-button {
    border-radius: 4px; 
    padding: 10px; 
    cursor: pointer; 
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-bottom: 20px;
}


.button-container .continue-button:hover, .button-container .order-button:hover {
    background-color: rgba(241, 16, 16, 0.8);
    color: #fff;
}