
/*------------------------------------------------------------------
[ Contact form] */
body{
  margin:0;
  background-image: url("https://i.imgur.com/4EjYpKM.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#form {
  width: 340px;
  height: 950px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 80px 80px 80px auto;
  padding: 20px 30px;
  max-width: 1448px;
  box-sizing: border-box;
  font-family: "Amazon Ember",Arial,sans-serif;
  position: relative;
  
}
h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 160px;
  color:#232F3E;
  border-bottom: 3px solid #253238;
}
input, option {
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Amazon Ember",Arial,sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  font-size: 14px;
}
input:focus,
option:focus {
  border-bottom: 2px solid #78788c;
}


.contact-method input[type="radio"] , .contact-day input[type="checkbox"] {
	display: none;
}
#choices-label, #name-label, #email-label, #phone-label, #prefer-label, #contact-days, #msg-label {
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 0px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: bold;
}

#name, #email, #phone, #msg {
  width: 100%;
}

#prefer-email, #prefer-phone {
  width: 5%;
  font-size: 12px;
}

label {
  color: #5a5a5a;
  font-size: 14px;
}

input {
	cursor: pointer;
}

/* Option menu */
#choices{
  color: #5a5a5a;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: center;
}


 /* Button */
.submit {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Amazon Ember",Arial,sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #ffffff;
  background: rgba(0, 128, 0, 0.8);
  cursor: pointer;
  transition: all 0.3s;
}
.reset {
  float: left;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Amazon Ember",Arial,sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #ffffff;
  background: rgba(194, 30, 86, 0.8);
  cursor: pointer;
  transition: all 0.3s;
}
.submit:hover {
  background: #008000;
  color: #fff;
}
.reset:hover {
  background: #c21e56;
  color: #fff;
}

::placeholder {
  font-size: 14px;
  font-family: "Amazon Ember",Arial,sans-serif;
}

textarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  .form {
    margin: 80px auto 80px auto;
  }
}