#wrapper {
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #E7E3D4;
    background-color: black;
    text-align: auto;
    font-size: 21px;
    font-weight: bold;
    height: auto;
    max-width: 700px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px 4px lightgray ;
    box-sizing: border-box;
}
h1 {
    font-family: inherit;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.field-wrapper {
    font-family: inherit;
    position:relative;
    margin-bottom:40px;
    margin-left: 15%;
}

input, textarea {
    font-family: inherit;
    height: 25px;
    width: 80%;
    border-radius: 10px;
    padding-left: 5px;
    padding:5px;
}

.button {
    margin-bottom:40px;
}

button {
    font-family: inherit;
    font-weight: bold;
    background-color:#E60028;
    color: #E7E3D4;
    text-transform: uppercase;
    height: 40px;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
}

.form {
    font-family: inherit;
    background-color: black;
    padding-bottom: 10px;
}

.register { 
    font-family: inherit;
    margin-top: 5px;
    background:grey;
    text-align: center;
    padding: 5px 0px;
}

.password-reset {
    font-family: inherit;
    margin-top: 5px;
    background:grey;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 20px;
}
a {
    font-family: inherit;
    color:#E7E3D4;
}