        /* body starter */
        
        .product_description {
            background: white;
            padding-left: 50px;
            padding-right: 25px;
        }
        
        .product_description .product_content {
            margin: 5px;
            padding-top: 10px;
            padding-left: 10px;
            box-shadow: 5px 10px #888888;
        }
        /* separator */
        
        .separator {
            width: 90%;
            height: 1px;
            opacity: 50%;
            background-color: gray;
            margin-top: 20px;
            margin-bottom: 10px;
            opacity: 50%;
        }
        /* rating */
        
        .checked {
            color: orange;
        }
        /* product main img  */
        
        .
        /* creating the base for the product */
        
        .product_description .product_content h1 {
            text-align: center
        }
        
        .product_description .product_content .product_detail {
            display: grid;
            grid-template-columns: 10% 40% 50%;
        }
        /* product image angle  */
        
        .product_description .product_content .product_detail .product_from_different_angle {
            padding: 10px;
        }
        
        .product_description .product_content .product_detail .product_from_different_angle .angle {
            width: 50%;
            height: auto;
            margin: auto;
            margin-bottom: 5px;
        }
        /* production picture */
        
        .product_description .product_content .product_detail .product_picture {
            text-align: center
        }
        
        .product_description .product_content .product_detail .product_picture .general_picture {
            max-width: 70%;
            height: auto;
        }
        /* product description */
        
        .product_description .product_content .product_detail .product_general_description {
            padding: 10px
        }
        /* general description */
        
        .product_description .product_content .product_detail .product_general_description .same_product_another_design {
            max-width: 15%;
            height: auto;
        }
        
        .product_description .product_content .product_detail .product_general_description .buying {
            text-align: right;
            padding-right: 25px
        }
        
        .product_description .product_content .product_detail .product_general_description .buying .addtocart {
            color: #748dff;
            transition: 0.3s;
        }
        
        .product_description .product_content .product_detail .product_general_description .buying .addtocart:hover {
            background-color: #748dff;
            color: white
        }
        
        .product_description .product_content .product_detail .product_general_description .detail-list {
            padding-left: 20px
        }
        /* detail description */
        
        .product_description .product_content .detail_description ul li {
            list-style-type: disc;
            margin-left: 15px
        }
        /* comment */
        
        .product_description .product_content .review_part {
            display: grid;
            grid-template-columns: 30% 70%;
        }
        /* star rating */
        
        .product_description .product_content .review_part .star_summary h3 {
            text-align: center
        }
        /* review bar */
        
        .product_description .product_content .review_part .star_summary .review_bar {
            display: grid;
            grid-template-columns: 20% 60% 20%;
        }
        
        .product_description .product_content .review_part .star_summary .review_bar .gray_bar {
            width: 100%;
            height: 15px;
            background-color: white;
            margin: auto;
            border: 1px solid black;
        }
        
        .product_description .product_content .review_part .star_summary .review_bar .percentage {
            padding-left: 10px;
        }
        
        .product_description .product_content .review_part .star_summary .review_bar .gray_bar .amount_bar {
            background-color: orange;
            height: 15px;
        }
        /* Star review */
        
        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            text-align: left;
        }
        
        .rating>span {
            display: inline-block;
            position: relative;
            width: 1.1em;
        }
        
        .rating>span:hover:before,
        .rating>span:hover~span:before {
            content: "\2605";
            position: absolute;
            color: orange;
        }
        
        .product_description .product_content .review_part .star_summary .review .text-area {
            width: 90%;
            height: 50%;
            resize: none
        }
        
        .product_description .product_content .review_part .star_summary .review .submit-button {
            margin-left: 70%;
            transition: 0.3s;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .product_description .product_content .review_part .star_summary .review .submit-button:hover {
            background-color: #748dff;
            color: white
        }
        /* other review */
        
        .product_description .product_content .review_part .other-review {
            padding: 10px
        }
        
        .product_description .product_content .review_part .other-review h1 {
            text-align: center
        }
        
        .product_description .product_content .review_part .other-review .review {
            display: grid;
            grid-template-columns: 20% 80%;
            margin: 10px;
        }
        
        .product_description .product_content .review_part .other-review .review .avatar {
            margin: auto;
            padding-top: 20%;
            text-align: center;
        }
        
        .product_description .product_content .review_part .other-review .review .avatar .users-avatar {
            width: 100%;
            border-radius: 50%;
        }
        
        .product_description .product_content .review_part .other-review .review .review-content {
            margin-left: 10px
        }
        
        .product_description .product_content .review_part .other-review .review .review-content .review_reason {
            margin-left: 20px;
            text-align: justify;
        }
        
        .product_description .product_content .review_part .other-review .review .review-content .text-area {
            border: 1px black solid;
            padding: 10px;
            text-align: justify;
        }
        /* other recommended product */
        
        .product_description .product_content .similar-product {
            width: 100%;
            border: 1px black solid;
            height: fit-content;
            display: grid;
            margin-bottom: 30px;
            grid-template-columns: 20% 20% 20% 20% 20%;
            margin-top: 10px
        }
        
        .product_description .product_content .similar-product .product_list {
            padding: 5px;
        }
        /* each recommended product */
        
        .product_description .product_content .similar-product .product_list .product {
            max-height: 100%;
            transition: 0.3s;
            text-align: center
        }
        
        .product_description .product_content .similar-product .product_list .product:hover {
            transform: scale(1.1);
            box-shadow: 0 0 25px -5px #ccc;
        }
        
        .product_description .product_content .similar-product .product_list .product .product-img {
            max-width: 100%;
            padding-top: 0px;
            height: 125px;
            margin: auto
        }
        /* toast */
        
        .toast {
            position: fixed;
            top: 0;
            left: 900px;
            right: 0;
            margin: auto;
            width: 30%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #00C02B;
            text-align: center;
            border: 1px solid#009D23;
            color: white;
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.2, top 0.2s, visibility 0.2s;
        }
        
        .toast-visible {
            top: 20px;
            opacity: 1;
            visibility: visible;
        }
        
        .product_description .product_content .similar-product .product_list .product .product-link {
            color: black
        }
        /* Responsive */
        /* max 480 px */
        
        @media only screen and (max-width: 480px) {
            p,
            li,
            b,
            span,
            label {
                font-size: 10px
            }
            .product_description .product_content {
                box-shadow: none;
            }
            .product_description .product_content .product_detail .product_from_different_angle {
                padding: 1px
            }
            .product_description .product_content .product_detail .product_from_different_angle .angle {
                width: 100%;
            }
            .product_description .product_content .product_detail .product_general_description .buying .addtocart {
                font-size: 7px;
                margin: auto;
            }
            .product_description .product_content .product_detail .product_general_description .buying .number_buying {
                font-size: 7px;
                max-width: 25%
            }
            .separator {
                width: 100%
            }
            .product_description .product_content .product_detail .product_general_description .detail-list {
                padding-left: 10px
            }
            .product_description .product_content .product_detail .product_picture .general_picture {
                max-width: 90%
            }
            .product_description .product_content .review_part {
                display: block
            }
            .product_description .product_content .review_part .star_summary .review .submit-button {
                font-size: 7px;
                margin-bottom: 0px
            }
            .product_description .product_content .product_detail .product_general_description .Selecting-Size {
                font-size: 7px;
            }
            .product_description .product_content .similar-product {
                grid-template-columns: 50% 50%;
            }
            .product_description .product_content .similar-product .product_list .product {
                margin: auto
            }
            #product_5 {
                display: none
            }
        }
        /* max 768px */
        
        @media only screen and (min-width:481px) and (max-width: 768px) {
            p,
            li,
            b,
            span,
            label {
                font-size: 15px
            }
            .product_description .product_content {
                box-shadow: none;
            }
            .product_description .product_content .product_detail .product_from_different_angle {
                padding: 4px
            }
            .product_description .product_content .product_detail .product_from_different_angle .angle {
                width: 90%;
            }
            .product_description .product_content .product_detail .product_general_description .buying .addtocart {
                font-size: 10px;
                margin: auto
            }
            .product_description .product_content .product_detail .product_general_description .buying .number_buying {
                font-size: 10px;
                max-width: 25%
            }
            .separator {
                width: 95%
            }
            .product_description .product_content .product_detail .product_general_description .detail-list {
                padding-left: 15px
            }
            .product_description .product_content .product_detail .product_picture .general_picture {
                max-width: 80%
            }
            .product_description .product_content .review_part {
                display: block
            }
            .product_description .product_content .review_part .star_summary .review .submit-button {
                font-size: 12px;
                margin-bottom: 2px
            }
            .product_description .product_content .product_detail .product_general_description .Selecting-Size {
                font-size: 10px;
            }
            .product_description .product_content .similar-product {
                grid-template-columns: 50% 50%;
                margin-top: 15px
            }
            .product_description .product_content .similar-product .product_list .product {
                margin: auto
            }
            #product_5 {
                display: none
            }
        }
        /* max 1024 px */
        
        @media only screen and (min-width:769px) and (max-width: 1024px) {
            p,
            li,
            b,
            span,
            label {
                font-size: 15px
            }
            .product_description .product_content {
                box-shadow: none;
            }
            .product_description .product_content .product_detail .product_from_different_angle {
                padding: 6px
            }
            .product_description .product_content .product_detail .product_from_different_angle .angle {
                width: 90%;
            }
            .product_description .product_content .product_detail .product_general_description .buying .addtocart {
                font-size: 10px;
                margin: auto
            }
            .product_description .product_content .product_detail .product_general_description .buying .number_buying {
                font-size: 10px;
                max-width: 25%
            }
            .separator {
                width: 95%
            }
            .product_description .product_content .product_detail .product_general_description .detail-list {
                padding-left: 10px
            }
            .product_description .product_content .product_detail .product_picture .general_picture {
                max-width: 80%
            }
            .product_description .product_content .review_part {
                display: grid;
                grid-template-columns: 30% 70%;
                margin: 10px;
            }
            .product_description .product_content .review_part .star_summary .review .submit-button {
                font-size: 12px;
                margin-bottom: 2px
            }
            .product_description .product_content .product_detail .product_general_description .Selecting-Size {
                font-size: 12px;
            }
            .product_description .product_content .similar-product {
                grid-template-columns: 20% 20% 20% 20% 20%;
            }
            .product_description .product_content .similar-product .product_list .product {
                margin: auto
            }
        }