#wrapper {
    color: #E7E3D4;
    background-color: black;
    text-align: auto;
    font-size: 21px;
    font-weight: bold;
    height: auto;
    max-width: 700px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px 4px lightgray ;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}
.field-wrap {
    color: #E7E3D4;
    margin: justify;
    position:relative;
    margin-bottom:40px;
    padding-left: 50px;
    padding-right: 50px;
}
input, textarea {
    height: 40px;
    width: 90%;
    border-radius: 10px;
    padding-left: 5px;
    padding:5px;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.form {
    max-width: 747px;
    max-height: auto;
}

#email-bar {
    margin-left: 40px;
}

button {
    font-weight: bold;
    background-color:#E60028;
    color: #E7E3D4;
    text-transform: uppercase;
    border-radius: 10px;
    height: 40px;
    width: 90%;
}
