/*------------------------------------------------------------------
[ Global] */
html body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100%;
}
div{
    margin: 0px;
    padding: 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
header,
footer {
  flex-shrink: 1;
}


/*------------------------------------------------------------------
[ Navigation bar] */
header {
	width: 100%;
	height: 100px;
	line-height: 50px;
	text-align: center;

	font-family: "Amazon Ember",Arial,sans-serif;
	background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(37,51,170,1) 72%, rgba(0,255,229,1) 100%);    
  position: relative;
}
 .brand img {
	width: 185px;
  float:left;

    margin-top: 6px;
    margin-left:10%;
   
    
}
 .menu {
	width: 60%;
	height: 100%;
	float: right;
  
}
 .menu ul {
	width: 100%;
	height: inherit;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  justify-content: center;  
}
 .menu ul a {
	width: 20%;
	height: inherit;
	color: #E7E3D4;
  padding:20px;
  text-align: center;
	display: inline-block;

}
 #menuToggle {
	 display: none;
}
 .menu-icon {
	 display: none;
}

 @media screen and (max-width: 768px) {
	 .menu {
		 width: 100%;
		 height: auto;
	}
	 .menu ul {
		display: block;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.3s;
		-moz-transition: max-height 0.3s;
		-ms-transition: max-height 0.3s;
		-o-transition: max-height 0.3s;
		transition: max-height 0.3s;
	}
	 .menu ul a {
		text-align: left;
		width: 100%;
		height: 50px;
		background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(37,51,170,1) 72%, rgba(0,255,229,1) 100%);  
		padding: 10px 0px 10px 5%;
	}
	 .menu-icon {
		width: 100px;
		height: inherit;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		line-height: 60px;
	}
	 #menuToggle:checked ~ ul {
		max-height: 350px;
		
	}
	 .menu-icon i {
		 font-size: 1.7em;
	}
}
/*------------------------------------------------------------------
[ Title] */
#title {
  font-family: "Amazon Ember",Arial,sans-serif;
  position: relative;
  font-weight: bold;
  margin: auto;
  text-align: center;
  font-size: 6.5rem;
  color:#232F3E;
  letter-spacing: 0.06em;
  justify-content: center;
  align-items: center;
}
/*------------------------------------------------------------------
[ hr styling] */
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}
.pill {
  height:0px;
  border-radius: 2px;
  color: currentcolor;
  border: 2px solid currentColor;
  width: 80%;
}

/*------------------------------------------------------------------
[ Footer] */

.page-footer {
  position: relative;
  background-color:#131A22;
  width: 100%;  
  bottom: 0;
}

.page-footer .container {
  max-width: 85%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  font-family: "Amazon Ember",Arial,sans-serif;
}

.page-footer .container h1 {
  font-family: inherit;
  font-size: 40px;
}

.page-footer .container h2 {
  font-family: inherit;
  font-size: 40px;
  float: right;
}

.page-footer .grid-container a {
  font-family: inherit;
  color:#8590AA;
  text-decoration: none;
  font-size: 15px;
  line-height: 16.25px;
}

.page-footer .grid-item {
  padding: 10px;
  color: #8590AA;
}


.page-footer .grid-container .inner-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
}

.page-footer .container hr { 
  display: block; 
  height: 1px;
  border: 0; border-top: 1px solid #8590AA;
  margin: 1px; 
  padding: 0; 
}

.page-footer .container p {
  font-family: inherit;
  font-size: 14px;
  text-align: right;
  color: #8590AA;
  font-weight: 500;
}

.page-footer .container .logo-img {
  width: 180px;
  height: 100px;
  cursor: pointer;
  margin-top: -14px;
}

.page-footer .grid-container .grid-item .social-buttons {
  padding-top: 20px;
}

.page-footer .grid-container .grid-item .social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  color: #1A1F24;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}


.page-footer .grid-container .grid-item .social-buttons a i{
  transition: 0.3s ease-in;
}

.page-footer .grid-container .grid-item .social-buttons a:hover i {
  background: linear-gradient(45deg,#3D3D3D,#3D3D3D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}

.circle-icon {
    background: #8590AA;
    padding:12px;
    border-radius: 50%;
}
/*------------------------------------------------------------------
Responsive */

/*------------------------------------------------------------------
[ Screen Sizes] */


/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {

  .page-footer {
    height: 450px;
    bottom: 0; 
  }

  .page-footer .grid-container {
    display: grid;
    grid-template-columns: 400px;
  }

  .page-footer .grid-container .inner-grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    text-align: left;
  }


}

/* Medium devices (tablet, 768px and up) */
@media only screen and(min-width:768px) and (max-width:1023px){
  .page-footer {
    height: 260px;
    bottom: 0;
  }

  .page-footer .grid-container {
    display: grid;
    grid-template-columns: 350px auto 350px;
  }

  .page-footer .grid-container .inner-grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
  }
}

/*========================================================*/

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px){

  .page-footer {
    height: 260px;
    bottom: 0;
  }

  .page-footer .grid-container {
    display: grid;
    grid-template-columns: 350px auto 350px;
  }

  .page-footer .grid-container .inner-grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
  }

}
