.hero { 
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.imgur.com/qVot8hB.jpg');
    background-size: cover;
    margin-bottom: -7%;
    margin-top: -20px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}

.hero > h1 {
    padding-top: 25px;
    padding-bottom: 10px;
    margin-top: -20%;
    position: relative;
    color: rgba(217,180,3,255);  
    font-size: 6rem;
    line-height: 0.9;
    text-align: center;
    border-bottom-style: double;
    border-top-style: double;
    text-shadow: 3px 3px 10px #215a09;
    left: 36%;
}

.description {
    position: relative;
    color: rgba(217,180,3,255);  
    font-size: 1.5rem;
    line-height: 0.9;
    text-align: center;
    left: -13%;
    top: 8%;
    line-height: 2;
}