<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navigation bar -->
    <header>
      <!-- Logo -->
      <div class="brand">
        <a href="../index.html"
          ><img
            src="https://i.imgur.com/mE6aWmB.png"
            alt="logo"
            class="logo-img"
          />
        </a>
      </div>
      <!-- Right menu -->
      <nav class="menu">
        <input type="checkbox" id="menuToggle" />
        <label for="menuToggle" class="menu-icon"
          ><i class="fa fa-bars"></i
        ></label>
        <ul>
          <a href="about.html"><li>About us</li></a>
          <a href="fees.html"><li>Fees</li></a>
          <a href="account.html"><li>Account</li></a>
          <a href="browse.html"><li>Browse</li></a>
          <a href="faq.html"><li>FAQs</li></a>
          <a href="contact.html"><li>Contact</li></a>
          <a href="#"><li>Sign in</li></a>
          <a href="#"><li>Sign up</li></a>
        </ul>
      </nav>
    </header>
    <!-- End header -->
    <!-- Tittle -->
    <div id="title">
      <p>WE ARE TEAM 16</p>
    </div>
    <!-- Carousel -->
    <div class="carousel">
      <div class="carousel-inner">
        <input
          class="carousel-open"
          type="radio"
          id="carousel-1"
          name="carousel"
          aria-hidden="true"
          hidden=""
          checked="checked"
        />
        <div class="carousel-item">
          <img src="https://i.imgur.com/sKV54PO.jpeg" alt="banner1" />
        </div>
        <input
          class="carousel-open"
          type="radio"
          id="carousel-2"
          name="carousel"
          aria-hidden="true"
          hidden=""
        />
        <div class="carousel-item">
          <img src="https://i.imgur.com/sKV54PO.jpeg" alt="banner2" />
        </div>
        <input
          class="carousel-open"
          type="radio"
          id="carousel-3"
          name="carousel"
          aria-hidden="true"
          hidden=""
        />
        <div class="carousel-item">
          <img src="https://i.imgur.com/sKV54PO.jpeg" alt="banner3" />
        </div>
        <label for="carousel-3" class="carousel-control prev control-1"
          >‹</label
        >
        <label for="carousel-2" class="carousel-control next control-1"
          >›</label
        >
        <label for="carousel-1" class="carousel-control prev control-2"
          >‹</label
        >
        <label for="carousel-3" class="carousel-control next control-2"
          >›</label
        >
        <label for="carousel-2" class="carousel-control prev control-3"
          >‹</label
        >
        <label for="carousel-1" class="carousel-control next control-3"
          >›</label
        >
        <ol class="carousel-indicators">
          <li>
            <label for="carousel-1" class="carousel-bullet">•</label>
          </li>
          <li>
            <label for="carousel-2" class="carousel-bullet">•</label>
          </li>
          <li>
            <label for="carousel-3" class="carousel-bullet">•</label>
          </li>
        </ol>
        <div>
          <figcaption>
            We are curious individuals who passionate about Software
            Development, especially in Web Programming and Data Science. As
            developers, we focus mainly on making our websites scalable,
            user-friendly and accessible. Inevitably, there would be several
            challenges in order to produce a perfect website but this is team 16
            and we always give our best shot!
          </figcaption>
        </div>
      </div>
    </div>
    <!-- Tittle -->
    <div id="title">
      <p>MEMBERS</p>
    </div>
    <hr class="pill" />
    <!-- Profile card -->
    <div class="profile-container">
      <div class="profile-card">
        <img
          src="https://i.imgur.com/wnuKAT5.jpg"
          alt="image1"
          class="profile-icon"
        />
        <div class="profile-name">Luan Vo</div>
        <div class="profile-position">Web Designer</div>
        <a href="mailto:s3822042@rmit.edu.vn" class="button">Connect</a>
      </div>
      <div class="profile-card">
        <img
          src="https://i.imgur.com/WfzZhTt.jpg"
          alt="image2"
          class="profile-icon"
        />
        <div class="profile-name">An Le</div>
        <div class="profile-position">Web Developer</div>
        <a href="mailto:s3820098@rmit.edu.vn" class="button">Connect</a>
      </div>
      <div class="profile-card">
        <img
          src="https://i.imgur.com/cv75nwp.jpg"
          alt="image3"
          class="profile-icon"
        />
        <div class="profile-name">Minh Nguyen</div>
        <div class="profile-position">Web Developer</div>
        <a href="mailto:s3878434@rmit.edu.vn" class="button">Connect</a>
      </div>
      <div class="profile-card">
        <img
          src="https://i.imgur.com/HqKscdf.jpg"
          alt="image4"
          class="profile-icon"
        />
        <div class="profile-name">Huy Duong</div>
        <div class="profile-position">Web Developer</div>
        <a href="#" class="button">Connect</a>
      </div>
    </div>
    <!-- End profile card -->
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../index.html"
              ><img
                src="https://i.imgur.com/mE6aWmB.png"
                alt="logo"
                class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
          <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="about.html">About Us</a>
            </div>
            <div class="grid-item">
              <a href="fees.html">Fees</a>
            </div>
            <div class="grid-item"><a href="">Stores</a></div>
            <div class="grid-item">
              <a href="term_of_services.html">Term of Service</a>
            </div>
            <div class="grid-item"><a href="">Account</a></div>
            <div class="grid-item"><a href="faq.html">FAQs</a></div>
            <div class="grid-item">
              <a href="contact.html">Contact</a>
            </div>
            <div class="grid-item">
              <a href="privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | RMIT University | Group 16</p>
      </div>
    </footer>
  </body>
</html>
