<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frequently Asked Questions</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/faq.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navigation bar -->
    <header class="header-top">
      <div class="nav-top">
        <!-- Navbar logo-->
        <div class="nav-left">
          <a href="../index.html"
            ><img src="../images/logo.png" alt="logo" class="logo-img" />
          </a>
        </div>
        <!-- Navbar items -->
        <div class="nav-right">
          <ul class="pull-space">
            <li><a href="about.html">About us</a></li>
            <li><a href="fees.html">Fees</a></li>
            <li><a href="account.html">Account</a></li>
            <li><a href="browse.html">Browse</a></li>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="">Sign in / Sign up</a></li>
            <!-- Cart Icon -->
            <li class="cart-icon">
              <a href="#" title="You do not have any products" class="tooltip"
                ><i class="fas fa-cart-plus fa-2x"></i
              ></a>
            </li>
          </ul>
        </div>
        <!-- End Navbar items -->
      </div>
      <!-- End Navbar top -->
    </header>
    <!-- End header -->
    <!-- F.A.Q section -->
    <div id="title">
      <p>FAQs</p>
    </div>
    <details>
      <summary>What is Mall Express company?</summary>
      <p>
        For seller, the Mall Express provide you with opportunities to get
        approach the customers around the world. We are available in 180
        countries, if your country has our company branches, do not miss this
        chance to sell your products around the world.
      </p>
      <p>
        For buyers, the Mall Express is an international market where you can
        buy anything you want without caring about the distance as long as your
        country has a branch of our company.
      </p>
      <p></p>
    </details>
    <details>
      <summary>Which payment is available at Mall Express?</summary>
      <p>
        Mall Express allows you to shop in over 80 currencies. Currency of
        Preference is a display-only feature and allows you to see prices
        displayed in your preferred currency. You can update your Currency of
        Preference by changing from USD (default currency) to your preferred
        currency in the currency settings page. The available currencies for
        shopping are listed below. Once you are ready to purchase your item, at
        checkout, an 'Order Total' will display the total price of the order in
        the preferred currency. For payment, a 'Payment Total' will display the
        amount your payment method will be charged in.
      </p>
      <p>
        If your order is eligible at checkout for Mall Express Currency
        Converter, you can elect to pay with an eligible card, and the Payment
        Total will display the price in your card currency you elected to pay
        in. Please note that payment in a different currency is only possible
        for orders eligible for Amazon Currency Converter.
      </p>
      <p>
        The currency you select is for reference use only. Prices may be
        displayed in your selected currency for your convenience, and you can
        have prices displayed in your chosen currency, even for orders not
        eligible for Mall Express Currency Converter. At checkout, if you wish
        to pay using your chosen currency, the actual sales price will have
        additional fees which will be calculated at checkout.
      </p>
    </details>
    <details>
      <summary>What is regular membership and premium membership?</summary>
      <p>
        Regular membership are the basic accounts you can register for free. As
        a Standard user, you can do just about anything in our platform, such as
        browsing or purchasing product.
      </p>
      <p>
        For premium membership, we charge 10$ a month, they will be offered a 5%
        discount for each transaction and free delivery within 5 km.
      </p>
      <p>Furthermore, feel free to have a look on entire mall as a guest.</p>
    </details>
    <details>
      <summary>Does Mall Express have a referral system?</summary>
      <p>
        Yes, we do, every referral account do a transaction will give you points
        to earn reward.
      </p>
    </details>
    <details>
      <summary>Support Options & Contact Us</summary>
      <p>
        If you need help, we offer a number of options for customer support.
      </p>
      <ul>
        <li>
          Email support: please click
          <a
            style="text-decoration: underline; color: blue"
            href="mailto:support.mallexpress@gmail.com"
            >here</a
          >
          if you need any further support
        </li>
        <li>
          Contact page: visit the page by click on navigation bar or on the
          footer
        </li>
      </ul>
    </details>
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../index.html"
              ><img src="../images/logo.png" alt="logo" class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
          <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="about.html">About Us</a>
            </div>
            <div class="grid-item">
              <a href="fees.html">Fees</a>
            </div>
            <div class="grid-item"><a href="">Account</a></div>
            <div class="grid-item">
              <a href="term_of_services.html">Term of Service</a>
            </div>
            <div class="grid-item"><a href="">Browse</a></div>
            <div class="grid-item"><a href="faq.html">FAQs</a></div>
            <div class="grid-item">
              <a href="contact.html">Contact</a>
            </div>
            <div class="grid-item">
              <a href="privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | RMIT University | Group 16</p>
      </div>
    </footer>
  </body>
</html>
