<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fees</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fees.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navigation bar -->
    <header class="header-top">
      <div class="nav-top">
        <!-- Navbar logo-->
        <div class="nav-left">
          <a href="../index.html"
            ><img src="../images/logo.png" alt="logo" class="logo-img" />
          </a>
        </div>
        <!-- Navbar items -->
        <div class="nav-right">
          <ul class="pull-space">
            <li><a href="about.html">About us</a></li>
            <li><a href="fees.html">Fees</a></li>
            <li><a href="account.html">Account</a></li>
            <li><a href="browse.html">Browse</a></li>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="">Sign in / Sign up</a></li>
            <!-- Cart Icon -->
            <li class="cart-icon">
              <a href="#" title="You do not have any products" class="tooltip"
                ><i class="fas fa-cart-plus fa-2x"></i
              ></a>
            </li>
          </ul>
        </div>
        <!-- End Navbar items -->
      </div>
      <!-- End Navbar top -->
    </header>
    <!-- End header -->
    <!-- For Customer -->
    <div id="title">
      <p>FOR CUSTOMERS</p>
    </div>
    <section>
      <div class="container-fluid group">  
        <div class="card-header">
          <div class="card">
          <h2 class="sub-title">Regular Member</h2>
          <div class="plan-price-content">
            <div class="plan-price">Free</div>
          </div>
          <ul class="features">
            <li>No discount per tracsaction</li>
            <li>Charged shipping</li>
            <li>No priority for transaction</li>
            <li>Limited Support</li>
          </ul>
          <a href="" class="button">Register Now</a>
          </div>
        </div>
        <div class="card-header">
          <h2 class="sub-title">Premium Member</h2>
          <div class="plan-price-content">
            <div class="plan-price">$20<span class="month-text"> / month</span></div>
          </div>
        </p>
          <ul class="features">
            <li>8% discount per transaction</li>
            <li>Free shipping within 5 km</li>
            <li>Priority for transaction</li>
            <li>24/7 Support</li>
          </ul>
          <a href="" class="button">Register Now</a>
        </div>
      </div>
    </section>
    <hr class="pill" />
    <!-- For Shop Owner -->
    <div id="title">
      <p>FOR SHOP</p>
    </div>
    <section>
      <div class="container-fluid group">
        <div class="card-header">
          <h2 class="sub-title">Renting Service</h2>
          <div class="plan-price-content">
            <div class="plan-price">$699<span class="month-text"> / month</span></div>
          </div>
          <ul class="features">
            <li>Unique storage in cloud network</li>
            <li>Enhancced security with encrypted transaction</li>
            <li>High-quality guidance to connect with clients</li>
            <li>Worldwide advertising support</li>
          </ul>
          <a href="" class="button">Register Now</a>
        </div>
        <div class="card-header">
          <h2 class="sub-title">Commission Fees</h2>
          <div class="plan-price-content">
            <div class="plan-price">5%<span class="month-text"> / product</span></div>
          </div>
          <ul class="features">
            <li>Risk control</li>
            <li>Maintenance cost</li>
            <li>Future potential</li>
            <li>Charity donation</li>
          </ul>
          <a href="" class="button">Register Now</a>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../index.html"
              ><img src="../images/logo.png" alt="logo" class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
        <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="about.html">About Us</a>
            </div>
            <div class="grid-item">
              <a href="fees.html">Fees</a>
            </div>
            <div class="grid-item"><a href="">Stores</a></div>
            <div class="grid-item">
              <a href="term_of_services.html">Term of Service</a>
            </div>
            <div class="grid-item"><a href="">Account</a></div>
            <div class="grid-item"><a href="faq.html">FAQs</a></div>
            <div class="grid-item">
              <a href="contact.html">Contact</a>
            </div>
            <div class="grid-item">
              <a href="privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | RMIT University | Group 16</p>
      </div>
    </footer>
  </body>
</html>
