<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jordan onetake II PF</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/product.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
    <body>
    <!-- Navigation bar -->
    <header>
      <!-- Logo -->
      <div class="brand">
        <a href="../../index.html"
          ><img
            src="https://i.imgur.com/mE6aWmB.png"
            alt="logo"
            class="logo-img"
          />
        </a>
      </div>
      <!-- Right menu -->
      <nav class="menu">
        <input type="checkbox" id="menuToggle" />
        <label for="menuToggle" class="menu-icon"
          ><i class="fa fa-bars"></i
        ></label>
        <ul>
          <a href="../about.html"><li>About us</li></a>
          <a href="../fees.html"><li>Fees</li></a>
          <a href="../account/account.html"><li>Account</li></a>
          <a href="../browse-menu.html"><li>Browse</li></a>
          <a href="../faq.html"><li>FAQs</li></a>
          <a href="../contact.html"><li>Contact</li></a>
          <a href="../login.html"><li>Sign in</li></a>
          <a href="../cart.html"><li>Cart</li></a>
        </ul>
      </nav>
    </header>
    <!-- End header -->
    <!--body part-->
    <div class = "product_description">
        <div class = "product_content">
        <!--product content-->
            <h1> Jordan onetake II PF </h1>
            <h3> General description </h3>
            <div class = "product_detail">
            <!--product image different angle-->
                <div class = "product_from_different_angle">
                    <img src = "https://i.imgur.com/XGksMUd.jpg" class = "angle">
                    <img src = "https://i.imgur.com/FZsqT71.png" class = "angle">
                    <img src = "https://i.imgur.com/YDolOkq.png" class = "angle">
                    <img src = "https://i.imgur.com/BkW5Xpp.png" class = "angle">
                    <img src = "https://i.imgur.com/zM94aXY.png" class = "angle">
                    <img src = "https://i.imgur.com/lDpbBDW.png" class = "angle">
                </div>
            <!--product picture-->
                <div class = "product_picture">
                    <img src = "https://i.imgur.com/XGksMUd.jpg" class = "general_picture"> 
                </div>
            <!--general description-->
                <div class = "product_general_description">
                    <span class="fa fa-star checked"></span> <!--fullstar-->
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span> <!--half star-->
                    <span> 4.4/5 235 reviews </span>
                    <p> Price: $144 </p>
                    <!--size selection-->
                    <span>Size: </span>
                    <select name="size" id="size" class = "Selecting-Size">
                        <option value="40" class = "Size-selection">40</option>
                        <option value="41" class = "Size-selection">41</option>
                        <option value="42" class = "Size-selection">42</option>
                        <option value="43" class = "Size-selection">43</option>
                        <option value="44" class = "Size-selection">44</option>
                        <option value="45" class = "Size-selection">45</option>
                        <option value="46" class = "Size-selection">46</option>
                        <option value="47" class = "Size-selection">47</option>
                        <option value="48" class = "Size-selection">48</option>
                        <option value="49" class = "Size-selection">49</option>
                    </select>
                                            
                    <p> Color available: Black/Metallic Gold/White/Metallic Gold </p>
                    <div>
                    <span> <img src = "https://i.imgur.com/XGksMUd.jpg" class ="same_product_another_design"> </span>
                    <span> <img src = "https://i.imgur.com/DNbxsqW.jpg" class ="same_product_another_design"> </span>
                    <span> <img src = "https://i.imgur.com/VwGSPyi.jpg" class ="same_product_another_design"> </span>
                    <span> <img src = "https://i.imgur.com/7yst6GK.jpg" class ="same_product_another_design"> </span>
                    </div>
                    <p> Description </p>
                    <ul class = "detail-list">
                        <li style = "list-style-type: disc">Lightweight, mixed-material upper.</li>
                        <li style = "list-style-type: disc">Breathable mesh tongue</li>
                        <li style = "list-style-type: disc">Padded collar</li>
                        <li style = "list-style-type: disc">Exterior plastic shank</li>
                        <li style = "list-style-type: disc">Colour-shifting tongue logo</li>
                        <li style = "list-style-type: disc">Heel pull made from lace material</li>
                        <li style = "list-style-type: disc">Style: CW2458-007</li>
                        <li style = "list-style-type: disc">Country/Region of Origin: Vietnam</li>
                    </ul>
                    <br>
                    <div class = "buying">
                        <form>
                            <label for = "quantity"> Add to cart </label>
                            <input type="number" id="quantity" name="quantity" min="1" max="196" value = "1">
                            <input type="submit" value="Add to cart" class = "addtocart">
                        </form>
                    </div>
                </div>
            </div>
            <!--end general description-->
            <div class = "separator" ></div>
            <!--detail description-->
            <div class = "detail_description">
                <h3> Detail Description </h3>
                <b>DISRUPTIVE SPEED AT THE CRITICAL MOMENT. </b>
                <p>Russell Westbrook backs up his brashness with a fast, aggressive playing style and numbers that place him among the league's best. His all-new Jordan One Take II embodies his edginess and speed. Colours, textures and design lines speak to Russ' persona both on and off the court. This PF version uses an extra-durable outsole that's ideal for outdoor courts.</p>
                <b>Top-Loaded Zoom</b>
                <p>The Zoom Air unit in the forefoot is top-loaded to help bring the responsive sensation closer to your foot. The section of the outsole directly under the Zoom switches to herringbone traction.</p>
                <b>Ground Control</b>
                <p>The rubber outsole is separated into 2 sections to help reduce the shoe's overall weight and enable smooth transitions. A multi-directional cross-hatch tread pattern provides traction to help you stop, cut and go at the game's pace.</p>
                <b>Lock-In Lacing</b>
                <p>The laces feed through eyestays and webbing loops. When you lace up, it puts tension on the webbing, which helps keep your foot secure over the footbed.</p>
                <b>More Benefits</b>
                <ul>
                    <li style = "list-style-type: disc">Extra-durable rubber outsole is designed to hold up on outdoor surfaces.</li>
                </ul>
            </div>
            <!--end detail description-->
            <!--review section-->
            <div class = "separator"> </div>
            <div class = "review_part">
                <!-- review part-->
                <!--star rating (132-5 stars, 20-4stars, 23-3stars, 12-2stars,9-1stars)-->
                <div class = "star_summary">
                    <div>
                        <h3> Customer review </h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fas fa-star-half-alt checked"></span>
                        <span> 4.4/5 235 reviews </span>
                    </div>
                    <!--review bar-->
                    <div class = "review_bar" id = "review_bar_5_star">
                        <!--star rating bar number-->
                        <div>
                            <p>5 star </p>
                        </div>
                        <!--bar-->
                        <div class = "gray_bar">
                            <div class = "amount_bar" style = "width: calc(14000%/235);"> </div>
                        </div>
                        <!--percentage -->
                        <div class = "percentage">
                            <p> 60% </p>
                        </div>
                    </div>
                    <div class = "review_bar" id = "review_bar_4_star">
                        <!--star rating bar number-->
                        <div>
                            <p>4 star </p>
                        </div>
                        <!--bar-->
                        <div class = "gray_bar">
                            <div class = "amount_bar" style = "width: calc(7200%/235);"> </div>
                        </div>
                        <!--percentage -->
                        <div class = "percentage">
                            <p> 31% </p>
                        </div>
                    </div>
                    <div class = "review_bar" id = "review_bar_3_star">
                        <!--star rating bar number-->
                        <div>
                            <p>3 star </p>
                        </div>
                        <!--bar-->
                        <div class = "gray_bar">
                            <div class = "amount_bar" style = "width: calc(300%/235);"> </div>
                        </div>
                        <!--percentage -->
                        <div class = "percentage">
                            <p> 1% </p>
                        </div>
                    </div>
                    <div class = "review_bar" id = "review_bar_2_star">
                        <!--star rating bar number-->
                        <div>
                            <p>2 star </p>
                        </div>
                        <!--bar-->
                        <div class = "gray_bar">
                            <div class = "amount_bar" style = "width: calc(1000%/235);"> </div>
                        </div>
                        <!--percentage -->
                        <div class = "percentage">
                            <p> 4% </p>
                        </div>
                    </div>
                    <div class = "review_bar" id = "review_bar_1_star">
                        <!--star rating bar number-->
                        <div>
                            <p>1 star </p>
                        </div>
                        <!--bar-->
                        <div class = "gray_bar">
                            <div class = "amount_bar" style = "width: calc(1700%/235);"> </div>
                        </div>
                        <!--percentage -->
                        <div class = "percentage">
                            <p> 7% </p>
                        </div>
                    </div>
                    <!--write your review here-->
                    <div class = "separator"> </div>
                    <div class = "review">
                        <h3> Review this product </h3>
                        <p> You can write your review here </p>
                        <form>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p> Your preferred name: </p>
                            <input type = "text" name = "user_pref_name" class = "text-area">
                            <p> Your reason: </p>
                            <input type = "text" name = "user's_reason " class = "text-area">
                            <p> explanation: </p>
                            <textarea name = "review" class = "text-area"> </textarea>
                            <input type="submit" class = "submit-button " >
                        </form>
                    </div>
                </div>
                <!--end star review-->
                <!--Show other people review-->
                <div class = "other-review">
                    <h1> User's review </h1>
                    <!--comment 1-->
                    <div class = "review"> 
                        <!--avatar of the user-->
                        <div class = "avatar">
                            <img src = "https://i.imgur.com/l40m95m.png" class = "users-avatar">
                        </div>
                        <!--review content-->
                        <div class = "review-content"> 
                            <p> Michael </p>
                            <span class="fa fa-star checked"></span> 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="far fa-star"></span> <!--no star-->
                            <span class = "review_reason"><b> This is an amazing shoe but not perfect</b> </span>
                            <p class = "text-area">This shoe fit perfectly into my feet but it doesn't really fit for playing sports that I liked such as football but it is perfect for running.</p>
                            <i class="far fa-thumbs-up like-button"></i> <span> 63 likes </span>
                        </div>
                    </div>
                    <!--end comment 1-->
                    <!--comment 2-->
                    <div class = "review"> 
                        <!--avatar of the user-->
                        <div class = "avatar">
                            <img src = "https://i.imgur.com/dnHWRnW.png" class = "users-avatar">
                        </div>
                        <!--review content-->
                        <div class = "review-content"> 
                            <p> Nguyen The Minh </p>
                            <span class="fa fa-star checked"></span> 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span> <!--no star-->
                            <span class = "review_reason"><b> Perfect shoe</b> </span>
                            <p class = "text-area"> This is the best shoe I could ever wish for. I have never wear a shoe that fit me this much. I am not just talking about the size but also the feeling. The feeling of wearing the shoe that can be used in every aspect and every sport is really good. </p>
                            <i class="far fa-thumbs-up like-button"></i> <span> 30 likes </span>
                        </div>
                    </div>
                    <!--end comment 2-->
                    <!--comment 3-->
                    <div class = "review"> 
                        <!--avatar of the user-->
                        <div class = "avatar">
                            <img src = "https://i.imgur.com/gc0dOkW.jpg" class = "users-avatar">
                        </div>
                        <!--review content-->
                        <div class = "review-content"> 
                            <p> Nguyen The Minh </p>
                            <span class="fa fa-star checked"></span> 
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="far fa-star"></span> <!--no star-->
                            <span class = "review_reason"><b> Recommended</b> </span>
                            <p class = "text-area">Not the best shoe for competitor or contestor but it is still an amazing and affordable for common people to have a shoe to do and enjoy their daily activity. You can do most thing with this shoe since it is flexible</p>
                            <i class="far fa-thumbs-up like-button"></i> <span> 21 likes </span>
                        </div>
                    </div>
                    <!--end comment 3-->
                </div>
                <!--end other review-->
            </div>
            <!--end user review section-->
            <div class = "similar-product">
                <span class = "product_list">
                    <figure class = "product">
                        <a href = "Jordan-jumpman-2021-PF.html"><img src = "https://i.imgur.com/VrKvgwl.jpg" class = "product-img"> </a>
                        <figcaption> <a href = "Jordan-jumpman-2021-PF.html" class = "product-link"> <b>Jordan jumpman 2021 PF </b> </a>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fas fa-star-half-alt checked"></span>
                                <span> 4.5/5 32 reviews </span>
                            </div>
                        </figcaption>
                    </figure>
                </span>
                <span class = "product_list">
                    <figure class = "product">
                        <a href = "air-zoom-tempo.html"><img src = "https://i.imgur.com/6ruNW3m.jpg" class = "product-img"> </a>
                        <figcaption> <a href = "air-zoom-tempo.html" class = "product-link"> <b> Air zoom tempo NEXT% </b> </a>
                            <div>
                                <span class="fa fa-star checked"></span> <!--fullstar-->
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fas fa-star-half-alt checked"></span> <!--half star-->
                                <span> 4.8/5 235 reviews </span>
                            </div>
                        </figcaption>
                    </figure>
                </span>
                <span class = "product_list">
                    <figure class = "product">
                        <a href = "kyrie-7-EP.html"><img src = "https://i.imgur.com/IARpVzC.jpg" class = "product-img"> </a>
                        <figcaption> <a href = "kyrie-7-EP.html" class = "product-link"> <b> Kyrie 7 EP </b> </a>
                            <div>
                                <span class="fa fa-star checked"></span> <!--fullstar-->
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fas fa-star-half-alt checked"></span> <!--half star-->
                                <span> 4.3/5 196 reviews </span>
                            </div>
                        </figcaption>
                    </figure>
                </span>
                <span class = "product_list">
                    <figure class = "product">
                        <a href = "mercurial-vapor-14-elite-FG.html"><img src = "https://i.imgur.com/icnhKJD.jpg" class = "product-img"> </a>
                        <figcaption> <a href = "mercurial-vapor-14-elite-FG.html" class = "product-link"> <b> Mercurial vapor 14 elite FG</b> </a>
                            <div>
                                <span class="fa fa-star checked"></span> <!--fullstar-->
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fas fa-star-half-alt checked"></span> <!--half star-->
                                <span> 4.3/5 196 reviews </span>
                            </div>
                        </figcaption>
                    </figure>
                </span>
                <span class = "product_list">
                    <figure class = "product" id = "product_5">
                        <a href = "night-crater-impact.html"><img src = "https://i.imgur.com/m5o3lTS.jpg" class = "product-img"> </a>
                        <figcaption> <a href = "night-crater-impact.html" class = "product-link"> <b> Night crater impact </b> </a>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fas fa-star-half-alt checked"></span>
                                <span> 4.4/5 75 reviews </span>
                            </div>
                        </figcaption>
                    </figure>
                </span>
            </div>
        </div>
        <!--end review content-->
    </div>
    <!--End body part-->
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../../index.html"
              ><img
                src="https://i.imgur.com/mE6aWmB.png"
                alt="logo"
                class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
          <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="../about.html">About Us</a>
            </div>
            <div class="grid-item">
              <a href="../fees.html">Fees</a>
            </div>
            <div class="grid-item"><a href="../browse-menu.html">Browse</a></div>
            <div class="grid-item">
              <a href="../term_of_services.html">Term of Service</a>
            </div>
            <div class="grid-item"><a href="../account/account.html">Account</a></div>
            <div class="grid-item"><a href="../faq.html">FAQs</a></div>
            <div class="grid-item">
              <a href="../contact.html">Contact</a>
            </div>
            <div class="grid-item">
              <a href="../privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | RMIT University | Group 16</p>
      </div>
    </footer>
  </body>
</html>
