<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apple's About</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/store/store_Apple.module.css" />
    <link rel="stylesheet" href="../../css/store/Apple_about.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navigation bar -->
    <header>
      <!-- Logo -->
      <div class="brand">
        <a href="../store/store_Apple.html"
          ><img
            src="https://i.imgur.com/pFWAXrC.jpg"
            alt="logo"
            class="logo-img"
          />
        </a>
      </div>
      <!-- Right menu -->
      <nav class="menu">
        <input type="checkbox" id="menuToggle" />
        <label for="menuToggle" class="menu-icon"
          ><i class="fa fa-bars"></i
        ></label>
        <ul>
          <a href="../../index.html"
            ><li><strong>Mall Express</strong></li></a
          >
          <a href="../store/Apple_about.html"><li>About us</li></a>
          <a href="../store/Apple_products.html"><li>Product</li></a>
          <a href="../contact.html"><li>Contact</li></a>
        </ul>
      </nav>
    </header>
    <!-- End header -->

    <div class="hero">
      <h1>APPLE</h1>
      <div class="description">
        <p>
          <strong><i>Apple Inc.</i></strong> is an American multinational
          technology company headquartered in Cupertino, California, that
          designs, develops, and sells consumer electronics, computer software,
          and online services.
        </p>
        <p>
          <strong><i>Apple Inc.</i></strong> is a prominent hardware and
          software company best known for its series of personal computers, the
          iPod and its innovative marketing strategies for its products.
          Introduced in 1984, the Macintosh was the first widely sold personal
          computer with a graphical user interface (GUI).
        </p>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../store/store_Apple.html"
              ><img
                src="https://i.imgur.com/pFWAXrC.jpg"
                alt="logo"
                class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
          <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="../store/Apple_term_of_service.html">Term of Service</a>
            </div>
            <div class="grid-item">
              <a href="../store/Apple_privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | Apple</p>
      </div>
    </footer>
  </body>
</html>
