<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike's Homepage</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/store/store_Nike.module.css" />
    <link rel="stylesheet" href="../../css/store/Nike_products.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <!-- Logo -->
      <div class="brand">
        <a href="../store/store_Nike.html"
          ><img
            src="https://i.imgur.com/SPU418r.jpg"
            alt="logo"
            class="logo-img"
          />
        </a>
      </div>
      <!-- Right menu -->
      <nav class="menu">
        <input type="checkbox" id="menuToggle" />
        <label for="menuToggle" class="menu-icon"
          ><i class="fa fa-bars"></i
        ></label>
        <ul>
          <a href="../../index.html"
            ><li><strong>Mall Express</strong></li></a
          >
          <a href="../store/Nike_about.html"><li>About us</li></a>
          <a href="../store/Nike_products.html"><li>Product</li></a>
          <a href="../contact.html"><li>Contact</li></a>
        </ul>
      </nav>
    </header>
    <!-- End header -->

    <!-- Banner -->
    <div class="banner">
      <div class="banner-content"></div>
    </div>

    <!-- Banner -->
    <div class="banner">
      <div class="banner-content">
        <img
          src="https://media.itsnicethat.com/images/56af7cca7fa44c5ffe0001eb.format-webp.width-2880_elXkHBquJEl9WnNo.webp"
          alt="just-do-it"
          style="
            height: 300px;
            width: 500px;
            margin-left: 32%;
            margin-top: -100px;
          "
        />

        <div class="vertical-center-1">
          <button class="button">
            <a href="Nike_prod_browse_Cate.html"
              >Browse Products by Categories</a
            >
          </button>
        </div>

        <div class="vertical-center-2">
          <button class="button">
            <a href="Nike_prod_browse_Time.html"
              >Browse Products by Created Time</a
            >
          </button>
        </div>
      </div>
    </div>

    <!-- Banner -->
    <div class="banner">
      <div class="banner-content"></div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../store/store_Nike.html"
              ><img
                src="https://i.imgur.com/SPU418r.jpg"
                alt="logo"
                class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
          <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="../store/Nike_term_of_service.html">Term of Service</a>
            </div>
            <div class="grid-item">
              <a href="../store/Nike_privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | Nike</p>
      </div>
    </footer>
  </body>
</html>
