<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike's Homepage</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/store/store_Nike.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navigation bar -->
    <header class="header-top">
      <div class="nav-top">
        <!-- Navbar logo-->
        <div class="nav-left">
          <a href="../store/store_Nike.html"
            ><img src="https://i.imgur.com/SPU418r.jpg" alt="logo" class="logo-img" />
          </a>
        </div>
        <!-- Navbar items -->
        <div class="nav-right">
          <ul class="pull-space">
            <li><a href="../../index.html"><strong>Visit The Mall Express</strong></a></li>
            <li><a href="../store/Nike_about.html">About us</a></li>
            <li><a href="../store/Nike_product.html">Products</a></li>
            <li><a href="../contact.html">Contact</a></li>
            <!-- Cart Icon -->
            <li class="cart-icon">
              <a href="#" title="You do not have any products" class="tooltip"
                ><i class="fas fa-cart-plus fa-2x"></i
              ></a>
            </li>
          </ul>
        </div>
        <!-- End Navbar items -->
      </div>
      <!-- End Navbar top -->
    </header>
    <!-- End header -->
    <!-- Banner -->
    <div class="banner">
      <div class="banner-content">
        <h1 class="centered-text">NIKE</h1>
      </div>
    </div>
    <!-- End banner -->
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../store/store_Nike.html"
              ><img src="https://i.imgur.com/SPU418r.jpg" alt="logo" class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
          <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="../store/Nike_term_of_service.html">Term of Service</a>
            </div>
            <div class="grid-item">
              <a href="../store/Nike_privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | Nike</p>
      </div>
    </footer>
  </body>
</html>
