<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact</title>
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/contact.module.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
            />
    </head>
    <body>
       <!-- Navigation bar -->
    <header>
      <!-- Logo -->
      <div class="brand">
        <a href="../index.html"
          ><img
            src="https://i.imgur.com/mE6aWmB.png"
            alt="logo"
            class="logo-img"
          />
        </a>
      </div>
      <!-- Right menu -->
      <nav class="menu">
        <input type="checkbox" id="menuToggle" />
        <label for="menuToggle" class="menu-icon"
          ><i class="fa fa-bars"></i
        ></label>
        <ul>
          <a href="about.html"><li>About us</li></a>
          <a href="fees.html"><li>Fees</li></a>
          <a href="account/account.html"><li>Account</li></a>
          <a href="browse-menu.html"><li>Browse</li></a>
          <a href="faq.html"><li>FAQs</li></a>
          <a href="contact.html"><li>Contact</li></a>
          <a href="login-form.html"><li>Sign in</li></a>
          <a href="cart.html"><li>Cart</li></a>
        </ul>
      </nav>
    </header>
    <!-- End header -->



    <form class="form">
        <h2>CONTACT US</h2>
        <!-- Contact purpose -->
        <p id="choices-label" for="choices">Contact Purpose:</p><br>
        <select name="purpose-list" id="choices">
            <option value='' selected>Please Select</option>
            <option value="report-bug">Report Bug</option>
            <option value="suggest-feature">Suggest Feature</option> 
            <option value="other-feedback">Other Feedback</option>
        </select><br><br>

        <!-- Name -->
        <label id="name-label" for="name">Name:</label><br>
        <input type="text" id="name" placeholder="Enter your name"/></p>

        <!-- Email -->
        <label id="email-label" for="email">Email:</label><br>
        <input type="text" id="email" placeholder="Enter your email"/></p>

        <!-- Phone -->
        <label id="phone-label" for="phone">Phone:</label><br>
        <input type="text" id="phone" placeholder="Enter your phone"/></p>

        <!-- Contact method -->
        <p id="prefer-label">Prefer:</p><br>
        <input type="radio" id="prefer-email" name="prefer-method" value="email">
        <label for="prefer-email">Email</label>
        <input type="radio" id="prefer-phone" name="prefer-method" value="phone">
        <label for="prefer-phone">Phone</label><br>

        <!-- Contact days-->
        <p id="contact-days">Contact Days:</p><br>
        <input type="checkbox" id="monday" name="prefer-days" value="monday">
        <label for="monday">&nbsp;Mon</label>

        <input type="checkbox" id="tuesday" name="prefer-days" value="tuesday">
        <label for="tuesday">&nbsp;Tue</label>

        <input type="checkbox" id="wednesday" name="prefer-days" value="wednesday">
        <label for="wednesday">&nbsp;Wed</label>

        <input type="checkbox" id="thursday" name="prefer-days" value="thursday">
        <label for="thursday">&nbsp;Thu</label><br>

        <input type="checkbox" id="friday" name="prefer-method" value="friday">
        <label for="friday">&nbsp;Fri&nbsp;&nbsp;&nbsp;</label>

        <input type="checkbox" id="saturday" name="prefer-days" value="saturday">
        <label for="saturday">&nbsp;Sat&nbsp;</label>

        <input type="checkbox" id="sunday" name="prefer-days" value="sunday">
        <label for="sunday">&nbsp;Sun</label><br><br>

        <!-- Message -->
        <label id="msg-label" for="msg">Message:</label><br><br>
        <textarea id="msg" name="msg-content" rows='6' placeholder="What would you like to tell us?"/></textarea><br><br>

        <!-- Button -->
        <button type="reset" class="reset">Clear All</button>
        <button type="submit" class="submit">Submit Information</button>
    </form>
        



        <!-- Footer -->
        <footer class="page-footer">
            <div class="container">
                <div class="grid-container">
                    <!-- Footer Logo -->
                    <div class="grid-item">
                        <a href="../index.html"
                            ><img
                            src="https://i.imgur.com/mE6aWmB.png"
                            alt="logo"
                            class="logo-img"
                            /></a>
                    </div>
                    <!-- Quick Link -->
                    <div class="grid-item inner-grid-container">
                        <div class="grid-item">
              <a href="about.html">About Us</a>
            </div>
            <div class="grid-item">
              <a href="fees.html">Fees</a>
            </div>
            <div class="grid-item"><a href="browse-menu.html">Browse</a></div>
            <div class="grid-item">
              <a href="term_of_services.html">Term of Service</a>
            </div>
            <div class="grid-item"><a href="account/account.html">Account</a></div>
            <div class="grid-item"><a href="faq.html">FAQs</a></div>
            <div class="grid-item">
              <a href="contact.html">Contact</a>
            </div>
            <div class="grid-item">
              <a href="privacy_policies.html">Privacy Policy</a>
            </div>
                    </div>
                    <!-- Social Link -->
                    <div class="grid-item">
                        <div class="social-buttons">
                            <a href=""><i class="fab fa-instagram circle-icon"></i></a>
                            <a href=""><i class="fab fa-facebook circle-icon"></i></a>
                            <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
                            <a href=""><i class="fab fa-twitter circle-icon"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                <!-- Copyright -->
                <p>&copy 2021 | RMIT University | Group 16</p>
            </div>
        </footer>
    </body>
</html>