<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/forgot-password.module.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <!-- Logo -->
        <div class="brand">
            <a href="../index.html"><img src="https://i.imgur.com/mE6aWmB.png" alt="logo" class="logo-img" /></a>
        </div>
        <!-- Right menu -->
        <nav class="menu">
            <input type="checkbox" id="menuToggle" />
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
                <a href="about.html">
                    <li>About us</li>
                </a>
                <a href="fees.html">
                    <li>Fees</li>
                </a>
                <a href="account.html">
                    <li>Account</li>
                </a>
                <a href="browse.html">
                    <li>Browse</li>
                </a>
                <a href="faq.html">
                    <li>FAQs</li>
                </a>
                <a href="contact.html">
                    <li>Contact</li>
                </a>
                <a href="login-form.html">
                    <li>Sign in</li>
                </a>
                <a href="sign-up-form.html">
                    <li>Sign up</li>
                </a>
            </ul>
        </nav>
    </header>

    <section id="wrapper">
        <h1>Forgot password</h1>
        <div class="field-wrap">
            <p>Enter your email address associated with your account and we will send you a link to recover your
                password</p>
        </div>
        <div class="form">
            <form action="" method="get">
                <div class="field-wrap">
                    <div id="email-bar">
                        <label for="forgot-password"></label>
                        <input type="email" placeholder="Enter your email">
                        <button type="submit">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="grid-container">
                <!-- Footer Logo -->
                <div class="grid-item">
                    <a href="../index.html"><img src="https://i.imgur.com/mE6aWmB.png" alt="logo"
                            class="logo-img" /></a>
                </div>
                <!-- Quick Link -->
                <div class="grid-item inner-grid-container">
                    <div class="grid-item">
                        <a href="about.html">About Us</a>
                    </div>
                    <div class="grid-item">
                        <a href="fees.html">Fees</a>
                    </div>
                    <div class="grid-item"><a href="">Stores</a></div>
                    <div class="grid-item">
                        <a href="term_of_services.html">Term of Service</a>
                    </div>
                    <div class="grid-item"><a href="">Account</a></div>
                    <div class="grid-item"><a href="faq.html">FAQs</a></div>
                    <div class="grid-item">
                        <a href="contact.html">Contact</a>
                    </div>
                    <div class="grid-item">
                        <a href="privacy_policies.html">Privacy Policy</a>
                    </div>
                </div>
                <!-- Social Link -->
                <div class="grid-item">
                    <div class="social-buttons">
                        <a href=""><i class="fab fa-instagram circle-icon"></i></a>
                        <a href=""><i class="fab fa-facebook circle-icon"></i></a>
                        <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
                        <a href=""><i class="fab fa-twitter circle-icon"></i></a>
                    </div>
                </div>
            </div>
            <hr />
            <!-- Copyright -->
            <p>&copy 2021 | RMIT University | Group 16</p>
        </div>
    </footer>
</body>

</html>