<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rolex's Homepage</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/store/store_Rolex.module.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navigation bar -->
    <header>
      <!-- Logo -->
      <div class="brand">
        <a href="../store/store_Rolex.html"
          ><img
            src="https://i.imgur.com/bpOtMwr.png"
            alt="logo"
            class="logo-img"
          />
        </a>
      </div>
      <!-- Right menu -->
      <nav class="menu">
        <input type="checkbox" id="menuToggle" />
        <label for="menuToggle" class="menu-icon"
          ><i class="fa fa-bars"></i
        ></label>
        <ul>
          <a href="../../index.html">
            <li><strong>Mall Express</strong></li>
          </a>
          <a href="../store/Rolex_about.html">
            <li>About us</li>
          </a>
          <a href="../store/Rolex_products.html">
            <li>Product</li>
          </a>
          <a href="../contact.html">
            <li>Contact</li>
          </a>
        </ul>
      </nav>
    </header>
    <!-- End header -->
    <!-- Banner -->
    <div class="banner">
      <div class="banner-content">
        <img src="https://i.imgur.com/G7dLB9k.jpg" alt="rolex-ad" />
      </div>
    </div>
    <!-- End banner -->

    <div class="paral1">
      <div class="paral1-title">
        <p class="title-content">FEATURED PRODUCTS</p>
      </div>
    </div>

    <!-- Featured product -->
    <section id="products">
      <div class="container">
        <!-- Product card row-->
        <div class="product-container">
          <div class="product-card">
            <img
              src="https://i.imgur.com/ZIL2yGA.jpg"
              alt="product1"
              class="product-icon"
              style="width: 300px; height: 300px"
            />
            <div class="product-name">Submariner Blue Dial</div>
            <div class="product-description" style="text-align: center">
              From $14,459 Stainless Steel, 18k Gold
            </div>
            <a href="..\product\submariner-blue-dial.html" class="button"
              >Buy now</a
            >
          </div>

          <div class="product-card">
            <img
              src="https://i.imgur.com/BnGJyMN.jpg"
              alt="product2"
              class="product-icon"
              style="width: 300px; height: 300px"
              ;
            />
            <div class="product-name">Day-Date Champagne</div>
            <div class="product-description">
              From $37,550 Julibee Automatic, 18k Gold
            </div>
            <a href="..\product\champagne-day-date.html" class="button"
              >Buy now</a
            >
          </div>

          <div class="product-card">
            <img
              src="https://i.imgur.com/JWn2IKT.jpg"
              alt="product3"
              class="product-icon"
            />
            <div class="product-name">Datejust 36 Ladies</div>
            <div class="product-description" style="text-align: center">
              From $9,975 Diamond Pink, Jubilee Dial
            </div>
            <a href="..\product\lady-datejust.html" class="button">Buy now</a>
          </div>
        </div>
        <!-- End product card row-->
      </div>
    </section>
    <!-- End featured product -->

    <div class="paral2">
      <div class="paral2-title">
        <p class="title-content-2">NEW PRODUCTS</p>
      </div>
    </div>

    <!-- Newproduct -->
    <section id="products">
      <div class="container" style="padding-top: 30px">
        <!-- Product card-->
        <div class="product-container">
          <div class="product-card">
            <img
              src="https://i.imgur.com/YAdlf7r.jpg"
              alt="product2"
              class="product-icon"
            />
            <div class="product-name">Submariner Black Dial</div>
            <div class="product-description">
              From $17,495 Stainless Steel, 18k Gold
            </div>
            <a href="..\product\submariner-black-dial.html" class="button"
              >Buy now</a
            >
          </div>
          <div class="product-card">
            <img
              src="https://i.imgur.com/Ay1LcB8.jpg"
              alt="product1"
              class="product-icon"
            />
            <div class="product-name">Lady Date-just Automatic</div>
            <div class="product-description">
              From $24,495 Diamond Green Dial
            </div>
            <a href="..\product\lady-date-just-automatic.html" class="button"
              >Buy now</a
            >
          </div>
          <div class="product-card">
            <img
              src="https://i.imgur.com/vfTddL2.jpg"
              alt="product3"
              class="product-icon"
              style="height: 300px"
            />
            <div class="product-name">Cosmograph Daytona Green</div>
            <div class="product-description">
              From $97,650 Men, Yellow Gold Oyster
            </div>
            <a href="..\product\cosmograph-daytona.html" class="button"
              >Buy now</a
            >
          </div>
        </div>
        <!-- End product card row-->
      </div>
    </section>
    <!-- End New product -->

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="grid-container">
          <!-- Footer Logo -->
          <div class="grid-item">
            <a href="../store/store_Rolex.html"
              ><img
                src="https://i.imgur.com/bpOtMwr.png"
                alt="logo"
                class="logo-img"
            /></a>
          </div>
          <!-- Quick Link -->
          <div class="grid-item inner-grid-container">
            <div class="grid-item">
              <a href="../store/Rolex_term_of_service.html">Term of Service</a>
            </div>
            <div class="grid-item">
              <a href="../store/Rolex_privacy_policies.html">Privacy Policy</a>
            </div>
          </div>
          <!-- Social Link -->
          <div class="grid-item">
            <div class="social-buttons">
              <a href=""><i class="fab fa-instagram circle-icon"></i></a>
              <a href=""><i class="fab fa-facebook circle-icon"></i></a>
              <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
              <a href=""><i class="fab fa-twitter circle-icon"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright -->
        <p>&copy 2021 | Rolex</p>
      </div>
    </footer>
    <!-- JavaScript -->
    <script src="../../js/index.js"></script>
  </body>
</html>
