<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike's Homepage</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/store/store_Nike.module.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <!-- Logo -->
        <div class="brand">
            <a href="../store/store_Nike.html"><img src="https://i.imgur.com/SPU418r.jpg" alt="logo" class="logo-img" />
            </a>
        </div>
        <!-- Right menu -->
        <nav class="menu">
            <input type="checkbox" id="menuToggle" />
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i
        ></label>
            <ul>
                <a href="../../index.html">
                    <li><strong>Mall Express</strong></li>
                </a>
                <a href="../store/Nike_about.html">
                    <li>About us</li>
                </a>
                <a href="../store/Nike_products.html">
                    <li>Product</li>
                </a>
                <a href="../contact.html">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </header>
    <!-- End header -->
    <!-- Banner -->
    <div class="banner">
        <div class="banner-content">
            <img src="https://i.imgur.com/FgjiiKJ.jpg" alt="nike-shoe" style="
            height: 350px;
            width: 550px;
            margin-top: -10px;
            padding-left: 60px;
          " />
        </div>

        <div class="banner-content">
            <img src="https://media.itsnicethat.com/images/56af7cca7fa44c5ffe0001eb.format-webp.width-2880_elXkHBquJEl9WnNo.webp" alt="just-do-it" style="height: 300px; width: 500px; padding-left: 60px" />
        </div>
    </div>
    <!-- End banner -->

    <div class="paral1">
        <div class="paral1-title">
            <p class="title-content"><strong>FEATURED PRODUCTS</strong></p>
        </div>
    </div>

    <!-- Featured product -->
    <section id="products">
        <div class="container">
            <!-- Product card row-->
            <div class="product-container">
                <div class="product-card">
                    <img src="https://i.imgur.com/xWWeeGR.jpg" alt="product1" class="product-icon" style="width: 300px; height: 300px" />
                    <div class="product-name">Air Zoom Tempo Next%</div>
                    <div class="product-description" style="text-align: center">
                        From $270 Lightweight Neutral, 230g, 10mm Drop
                    </div>
                    <a href="..\product\air-zoom-tempo.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/ykGER41.jpg" alt="product2" class="product-icon" style="width: 300px; height: 300px" ; />
                    <div class="product-name">Kyrie 7 EP Black Red</div>
                    <div class="product-description">
                        From $174 27.0% Synthetic 73.0% Textile
                    </div>
                    <a href="..\product\kyrie-7-EP.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/dqX9Lbs.jpg" alt="product3" class="product-icon" />
                    <div class="product-name">Mercurial Vapor 14 Elite FG</div>
                    <div class="product-description" style="text-align: center">
                        From $249 Avail Q Lining Material, Titan Synthetic
                    </div>
                    <a href="..\product\mercurial-vapor-14-elite-FG.html" class="button">Buy now</a>
                </div>
            </div>
            <!-- End product card row-->
        </div>
    </section>
    <!-- End featured product -->

    <div class="paral2">
        <div class="paral2-title">
            <p class="title-content-2"><strong>NEW PRODUCTS</strong></p>
        </div>
    </div>

    <!-- Newproduct -->
    <section id="products">
        <div class="container" style="padding-top: 30px">
            <!-- Product card-->
            <div class="product-container">
                <div class="product-card">
                    <img src="https://i.imgur.com/14QSEb7.jpg" alt="product2" class="product-icon" style="width: 275px; height: 325px" />
                    <div class="product-name">Jordan One Take II PF</div>
                    <div class="product-description">
                        From $144 Lightweight, Padded Collar, Top-Loaded Zoom
                    </div>
                    <a href="..\product\Jordan-onetake-2-PF.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/I3f9iT6.jpg" alt="product1" class="product-icon" style="
                width: 400px;
                height: 308px;
                padding-top: 8px;
                padding-bottom: 8.5px;
              " />
                    <div class="product-name">Night Crater Impact</div>
                    <div class="product-description">
                        From $342 Crater Foam, Grey-Fog <br> Threaded Logo, White
                    </div>
                    <a href="..\product\night-crater-impact.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/IR06hAv.png" alt="product3" class="product-icon" style="width: 300px; height: 325px" />
                    <div class="product-name">Jumpman 2021 PF</div>
                    <div class="product-description">
                        From $178 responsive Zoom Air cushioning, <br> Curve Flightwire cables
                    </div>
                    <a href="..\product\Jordan-jumpman-2021-PF.html" class="button">Buy now</a>
                </div>
            </div>
            <!-- End product card row-->
        </div>
    </section>
    <!-- End New product -->

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="grid-container">
                <!-- Footer Logo -->
                <div class="grid-item">
                    <a href="../store/store_Nike.html"><img src="https://i.imgur.com/SPU418r.jpg" alt="logo" class="logo-img" /></a>
                </div>
                <!-- Quick Link -->
                <div class="grid-item inner-grid-container">
                    <div class="grid-item">
                        <a href="../store/Nike_term_of_service.html">Term of Service</a>
                    </div>
                    <div class="grid-item">
                        <a href="../store/Nike_privacy_policies.html">Privacy Policy</a>
                    </div>
                </div>
                <!-- Social Link -->
                <div class="grid-item">
                    <div class="social-buttons">
                        <a href=""><i class="fab fa-instagram circle-icon"></i></a>
                        <a href=""><i class="fab fa-facebook circle-icon"></i></a>
                        <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
                        <a href=""><i class="fab fa-twitter circle-icon"></i></a>
                    </div>
                </div>
            </div>
            <hr />
            <!-- Copyright -->
            <p>&copy 2021 | Nike</p>
        </div>
    </footer>
</body>

</html>