<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apple's Homepage</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/store/store_Apple.module.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <!-- Logo -->
        <div class="brand">
            <a href="../store/store_Apple.html"><img src="https://i.imgur.com/pFWAXrC.jpg" alt="logo" class="logo-img" />
            </a>
        </div>
        <!-- Right menu -->
        <nav class="menu">
            <input type="checkbox" id="menuToggle" />
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i
        ></label>
            <ul>
                <a href="../../index.html">
                    <li><strong>Mall Express</strong></li>
                </a>
                <a href="../store/Apple_about.html">
                    <li>About us</li>
                </a>
                <a href="../store/Apple_products.html">
                    <li>Product</li>
                </a>
                <a href="../contact.html">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </header>
    <!-- End header -->
    <!-- Banner -->
    <div class="banner">
        <div class="banner-content">
            <img src="https://i.imgur.com/iUmZ34U.jpg" alt="apple-banner" style="width: 700px; height: 480px;">
        </div>
    </div>
    <!-- End banner -->

    <div class="paral1">
        <div class="paral1-title">
            <p class="title-content">FEATURED PRODUCTS</p>
        </div>
    </div>

    <!-- Featured product -->
    <section id="products">
        <div class="container">
            <!-- Product card row-->
            <div class="product-container">
                <div class="product-card">
                    <img src="https://i.imgur.com/3nl99eD.jpg" alt="product1" class="product-icon" />
                    <div class="product-name">MAC PRO</div>
                    <div class="product-description" style="text-align: center">
                        From $5999 for 8-core, 32GB of RAM, and a 256GB SSD
                    </div>
                    <a href="..\product\Macbook-pro.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/SkmcTJ9.jpg" alt="product2" class="product-icon" style="width: 500px; height: 315px" ; />
                    <div class="product-name">IPHONE 12 PRO</div>
                    <div class="product-description">
                        From $999 for 6.1" or 6.7" Display, A14 Bionic Chip, Pro Camera System
                    </div>
                    <a href="..\product\iphone-12-pro.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/RWeXaod.jpg" alt="product3" class="product-icon" />
                    <div class="product-name">AIRPODS PRO</div>
                    <div class="product-description" style="text-align: center">
                        From $249 for Noise Cancelling, 5 hours single charge
                    </div>
                    <a href="..\product\airpod-pro.html" class="button">Buy now</a>
                </div>
            </div>
            <!-- End product card row-->
        </div>
    </section>
    <!-- End featured product -->

    <div class="paral2">
        <div class="paral2-title">
            <p class="title-content-2">NEW PRODUCTS</p>
        </div>
    </div>

    <!-- New product -->
    <section id="products">
        <div class="container" style="padding-top: 30px">
            <!-- Product card-->
            <div class="product-container">
                <div class="product-card">
                    <img src="https://i.imgur.com/Fu2PGiM.jpg" alt="product1" class="product-icon" style="width: 275px; height: 325px" />
                    <div class="product-name">HOMEPOD MINI</div>
                    <div class="product-description">
                        From $99 for S5 Core, Siri Touch Interface, 360 Audio
                    </div>
                    <a href="..\product\homepod-mini.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/ZekXOny.jpg" alt="product2" class="product-icon" style="width: 275px; height: 325px" />
                    <div class="product-name">APPLE WATCH SERIE 6</div>
                    <div class="product-description">
                        From $399 for GPS + Cellular, Water Resistance 50m
                    </div>
                    <a href="..\product\apple-watch-series-6.html" class="button">Buy now</a>
                </div>
                <div class="product-card">
                    <img src="https://i.imgur.com/y2wJJi1.jpg" alt="product3" class="product-icon" style="width: 275px; height: 325px" />
                    <div class="product-name">IPAD PRO</div>
                    <div class="product-description">
                        From $799 for 11" or 12.9" Retina, A12Z Bionic Chip
                    </div>
                    <a href="..\product\ipad-pro-2020.html" class="button">Buy now</a>
                </div>
            </div>
            <!-- End product card row-->
        </div>
    </section>
    <!-- End New product -->

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="grid-container">
                <!-- Footer Logo -->
                <div class="grid-item">
                    <a href="../store/store_Apple.html"><img src="https://i.imgur.com/pFWAXrC.jpg" alt="logo" class="logo-img" /></a>
                </div>
                <!-- Quick Link -->
                <div class="grid-item inner-grid-container">
                    <div class="grid-item">
                        <a href="../store/Apple_term_of_service.html">Term of Service</a>
                    </div>
                    <div class="grid-item">
                        <a href="../store/Apple_privacy_policies.html">Privacy Policy</a>
                    </div>
                </div>
                <!-- Social Link -->
                <div class="grid-item">
                    <div class="social-buttons">
                        <a href=""><i class="fab fa-instagram circle-icon"></i></a>
                        <a href=""><i class="fab fa-facebook circle-icon"></i></a>
                        <a href=""><i class="fab fa-linkedin-in circle-icon"></i></a>
                        <a href=""><i class="fab fa-twitter circle-icon"></i></a>
                    </div>
                </div>
            </div>
            <hr />
            <!-- Copyright -->
            <p>&copy 2021 | Apple</p>
        </div>
    </footer>
</body>

</html>